extends ../layouts/comom.pug
block content
    h1 Create user

    form(action="/users/create", method="POST")
        .form-group
            label(for="name") Name
            input#name.form-control.mb-3(name="name" type="text")
            label(for="phone") Phone
            input#phone.form-control(name="phone" type="text")
        button.btn.btn-primary Create